{% extends "base.html" %}
{% load static %}

{% block title %}API Demo | Juegos{% endblock %}


{% block content %}



<<div class="container py-5">
    <div class="row" id="juegos-container"></div>

    <!-- PAGINACIÓN -->
    <div class="d-flex justify-content-center gap-3 mt-4">
        <button id="btn-prev" class="btn btn-outline-secondary px-4 github-btn">
            ← Anterior
        </button>

        <button id="btn-next" class="btn btn-outline-secondary px-4 github-btn">
            Siguiente →
        </button>
    </div>
</div>


<script>
    const DEFAULT_IMAGE = "{% static 'img/no-image.png' %}";
</script>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
