{% extends "base.html" %} 
{% load static %}

{% block title %}Tienda de Videojuegos | Contacto {%endblock %}

{% block content %}
<div class="d-flex justify-content-center gap-3 mt-4">
    <a href="https://github.com/Desarrollo13" target="_blank" class="btn btn-outline-light">
        GitHub
    </a>
    <a href="https://www.linkedin.com/in/cristianmesa" target="_blank" class="btn btn-outline-primary">
        LinkedIn
    </a>
    <a href="mailto:cristianmesa13@email.com" class="btn btn-outline-success">
        Email
    </a>
    <a href="{% static 'docs/cv.pdf' %}" target="_blank" class="btn btn-outline-primary px-4">
        Descargar CV
    </a
    
</div>


{% endblock %}